page-help {

.serHeading > p
{
	text-align: center;
	font-size: 20px;
	margin: 15px 0;
}

	.serHeading > p > span
	{
		border-bottom: 2px solid blue;
		padding: 5px 0;
	}

.thumbnail
{
	min-height: 100px;
	min-width: 110px;
}

	.thumbnail:hover
	{
		text-decoration: none;
		border-top-left-radius: 25px;
		border-bottom-right-radius: 25px;
	}

	.thumbnail > p
	{
		text-align: center;
		padding: 10px 1px;
		margin-bottom: 1px;
	}

.why
{
	margin: 5px 0;
}

	.why > div > img
	{
		height: 40px;
		width: 40px;
		margin: 0;
	}

	.why > div > h3
	{
		margin: 3px 0;
		padding: 5px 0;
		font-size: 20px;
		border-bottom: 1px solid #808080;
	}

	.why > div > p
	{
		text-align: justify;
		text-justify: inter-word;
	}
.work
{
	text-align: center;
}

	.work > div > img
	{
		border: 1px solid #808080;
		border-top-left-radius: 25px;
		border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;
		border-bottom-left-radius: 25px;
		padding: 20px 20px 30px 20px;
		margin: 15px;
	}

	.work > div > h1
	{
		margin-top: -40px;
		margin-left: 10px;
		font-size: 16px;
	}

	.work > div > h4
	{
		margin-top: 20px;
		margin-left: 10px;
		font-size: 16px;
	}
.list-unstyled
{
	margin-left: 13%;
	list-style: none;
}

.list-inline
{
	padding-left: 0;
	margin-top: 5px;
	margin-left: 13%;
	list-style: none;
}

.foot-links > li
{
	margin-bottom: 6px;
}

	.foot-links > li > a
	{
		color: #999;
		font-size: 12px;
		transition: all .5s 0s;
		-moz-transition: all .5s 0s;
		-webkit-transition: all .5s 0s;
	}

		.foot-links > li > a:hover
		{
			text-decoration: none;
			color: blue;
			border-bottom: 1px solid #a5c653;
		}

.list-inline
{
	padding-left: 0;
	margin-top: 5px;
	margin-left: 13%;
	list-style: none;
}
}
